@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic&display=swap);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}
body {
  line-height: 1;
  font-family: Roboto;
  color: #666666;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*-----------------------------------------------------*/

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}
.page__main {
}
/*-----------------------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  gap: 234px;
  align-items: center;
  min-height: 130px;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  gap: 180px;
}
.menu__item {
}
.menu__link {
  color: rgba(27, 9, 78, 0.7);
  font-weight: 500;
}

.menu__link:hover {
  text-decoration: underline;
}

/*-----------------------------------------*/

.main {
  padding-bottom: 80px;
  margin: 200px 0 0 0;
}
.main__container {
  display: flex;
}
.main__content {
  flex: 1 0 50%;
  align-self: flex-end;
  padding-bottom: 60px;
  margin-right: 100px;
}
.main__title {
  color: #000;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
}
.main__title:not(:last-child) {
  margin-bottom: 16px;
}
.main__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 420px;
}
.main__text:not(:last-child) {
  margin-bottom: 16px;
}
.main__action {
}
.actions-main {
  display: flex;
  align-items: center;
}
.actions-main__button {
  text-align: center;
  padding: 18.5px 48px;
  background-color: #597692;
  width: 200px;
  border-radius: 40px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}
.main__decor {
  flex: 0 1 50%;
}
.decor-main {
}
.decor-main__image {
}
.decor-main__image img {
  position: absolute;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

/*----------------------------------------*/

.pageSecond__main {
}

.mainSecond__container {
}
.mainSecond__content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  margin-right: 100px;
}
.mainSecond__title {
  margin: 0 0 30px 50px;
  font-size: 32px;
}
.mainSecond__decor {
}
.decor-main {
}
.decor-mainSecond__image {
}
.mainSecond__name {
  padding: 30px 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  max-width: 420px;
}
.mainSecond__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-width: 320px;
}
.decor-arrow {
  padding-top: 100%;
}

/*---------------------------------*/

.pageThird__main {
  padding-bottom: 80px;
}
.main {
}
.mainThird__container {
}
.mainThird__title {
  margin: 50px 0 30px 50px;
  font-size: 32px;
}
.mainThird__content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 60px;
  margin-right: 100px;
}
.mainThird__decor {
}
.decor-main {
}
.decor-mainThird__image {
}
.decor-arrow {
}

/*------------------------------*/

.mainFooter__content {
  display: flex;
  justify-content: space-around;

  padding-bottom: 60px;
  margin-right: 10px;
  margin-right: 100px;
}
.mainFooter__decor {
}
.decor-mainFooter__image {
}
